@import 'src/styles/variables.scss';

.featured_section {
  margin-bottom: 80px;
  width: 100%;
}

.featured_header {
  padding: 20px 0;
  margin: 0;
}

.featured_content {
  position: relative;
  height: $featured-section-height;
  margin-top: 25px;
  width: 100%;
}

.feature_scroll_arrow {
  width: 40px;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 400px;
  background: linear-gradient(180deg, rgba(248, 248, 250, 0.8) 0%, #F8F8FA 51.36%, rgba(248, 248, 250, 0.8) 100%);
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 65px;
  cursor: pointer;
}

.left_arrow {
  left: 0;
}

.right_arrow {
  right: 0;
}

.featured_hide {
  display: none;
}

.featured_loader {
  margin: 0;
  height: 100%;
}

.featured_carousel {
  display: flex;
  overflow-x: auto;
  font-size: 12px;
  scroll-behavior: smooth;
  // display: none;
}

.scroll_indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  div {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #DDDDDD;
    margin: 0 5px;
  }
}

div.active_dot {
  background: #64C000;
  border: 1px solid #64C000;

}

.featured_loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.all_section_heading {
  margin: 20px 0;

  p {
    margin: 0;
  }
}

.book_grid {
  display: flex;
  justify-content: center;
}

.book_list {
  display: grid;
  padding: 0;
  width: 100%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-content: space-evenly;
  gap: 1rem;

  @media screen and (min-width:780px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media screen and (min-width:992px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.book_grid_item {
  width: 315px;
  list-style-type: none;
}
