* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  background-color: #eee;
}

p {
  margin: 0.5em 0;
}

.text-success {
  color: #65C100;
}

.text-danger {
  color: #C12300;
}

.cursor-pointer {
  cursor: pointer;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.font-bold {
  font-weight: bold;
}

.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.divider {
  height: 1px;
  background: #EEEEEE;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide_scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
