@import 'src/styles/variables.scss';

.container {
  padding-top: 100px;
  padding-left: $container-x-space;
  padding-right: $container-x-space;

  @media screen and (min-width: 768px) {
    padding-left: $container-x-space-desktop;
    padding-right: $container-x-space-desktop;
  }
}
